html, body
	height: 100%
	margin: 0
	padding: 0

footer
	border-top: 1px solid #ccc
	margin-top: 1em
	position: relative
	clear: both

aside
	float: right
	width: 12em
	min-height: 3em
	margin-left: 2em
	font-style: oblique

article
	float: left
	width: 94%
	margin-left: 2%
	margin-right: 4%
	margin-bottom: 1.5em
	background: #A7D8E8
	